tags/el4j_1_4-rc0/el4j/applications/templates/gui/thin-client/src/main/resources/gui/schema/cookXmlCommon.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://cookxml.sf.net/common/"
	elementFormDefault="qualified"
	xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:cookXmlCommon="http://cookxml.sf.net/common/"
	xmlns:cookXml="http://cookxml.sf.net/">

	<import namespace="http://cookxml.sf.net/" schemaLocation="cookXml.xsd" />
	
	<complexType name="object" mixed="true">
		<sequence minOccurs="0" maxOccurs="unbounded">
			<choice>
				<element ref="cookXmlCommon:object" />
				<any />
			</choice>
		</sequence>
		<attribute ref="cookXml:add" />
		<attribute ref="cookXml:ctor" />
		<attribute ref="cookXml:func" />
		<attribute ref="cookXml:get" />
		<attribute ref="cookXml:id" />
		<attribute ref="cookXml:idref" />
		<attribute ref="cookXml:setas" />
		<attribute ref="cookXml:tag" />
		<attribute ref="cookXml:var" />
		<attribute ref="cookXml:varref" />
		<anyAttribute />
	</complexType>

	<complexType name="array">
		<complexContent>
			<extension base="cookXmlCommon:object">
				<attribute name="size" type="int" />
				<attribute name="type" type="string" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="base">
		<complexContent>
			<extension base="cookXmlCommon:object" />
		</complexContent>
	</complexType>

	<complexType name="boolean">
		<complexContent>
			<extension base="cookXmlCommon:object">
				<attribute name="locale" type="string" />
				<attribute name="ui" type="string" />
				<attribute name="value" type="boolean" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="byte">
		<complexContent>
			<extension base="cookXmlCommon:object">
				<attribute name="value" type="boolean" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="char">
		<complexContent>
			<extension base="cookXmlCommon:object">
				<attribute name="value" type="string" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="choiceformat">
		<complexContent>
			<extension base="cookXmlCommon:object">
				<attribute name="groupingused" type="boolean" />
				<attribute name="maximumfractiondigits" type="int" />
				<attribute name="maximumintegerdigits" type="int" />
				<attribute name="minimumfractiondigits" type="int" />
				<attribute name="minimumintegerdigits" type="int" />
				<attribute name="parseintegeronly" type="boolean" />
				<attribute name="pattern" type="string" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="date">
		<complexContent>
			<extension base="cookXmlCommon:object">
				<attribute name="value" type="string" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="dateformat">
		<complexContent>
			<extension base="cookXmlCommon:object">
				<attribute name="datestyle" type="string" />
				<attribute name="lenient" type="boolean" />
				<attribute name="numberformat" type="string" />
				<attribute name="timestyle" type="string" />
				<attribute name="type" type="string" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="decimalformat">
		<complexContent>
			<extension base="cookXmlCommon:numberformat">
				<attribute name="decimalseparatoralwaysshown"
					type="boolean" />
				<attribute name="localizedpattern" type="string" />
				<attribute name="multiplier" type="int" />
				<attribute name="negativeprefix" type="string" />
				<attribute name="pattern" type="string" />
				<attribute name="positiveprefix" type="string" />
				<attribute name="positivesuffix" type="string" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="double">
		<complexContent>
			<extension base="cookXmlCommon:object">
				<attribute name="value" type="string" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="float">
		<complexContent>
			<extension base="cookXmlCommon:object">
				<attribute name="value" type="string" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="hashmap">
		<complexContent>
			<extension base="cookXmlCommon:object" />
		</complexContent>
	</complexType>

	<complexType name="hashset">
		<complexContent>
			<extension base="cookXmlCommon:object" />
		</complexContent>
	</complexType>

	<complexType name="hashtable">
		<complexContent>
			<extension base="cookXmlCommon:object" />
		</complexContent>
	</complexType>

	<complexType name="html">
		<complexContent mixed="true">
			<extension base="cookXmlCommon:object" />
		</complexContent>
	</complexType>

	<complexType name="identityhashmap">
		<complexContent>
			<extension base="cookXmlCommon:object" />
		</complexContent>
	</complexType>

	<complexType name="idref">
		<complexContent>
			<extension base="cookXmlCommon:object" />
		</complexContent>
	</complexType>

	<complexType name="include">
		<complexContent>
			<extension base="cookXmlCommon:object" />
		</complexContent>
	</complexType>

	<complexType name="int">
		<complexContent>
			<extension base="cookXmlCommon:object">
				<attribute name="locale" type="string" />
				<attribute name="ui" type="string" />
				<attribute name="value" type="int" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="linkedlist">
		<complexContent>
			<extension base="cookXmlCommon:object" />
		</complexContent>
	</complexType>

	<complexType name="locale">
		<complexContent>
			<extension base="cookXmlCommon:object">
				<attribute name="value" type="string" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="map">
		<complexContent>
			<extension base="cookXmlCommon:object" />
		</complexContent>
	</complexType>

	<complexType name="mapentry">
		<complexContent>
			<extension base="cookXmlCommon:object">
				<attribute name="attr" type="string" />
				<attribute name="attribute" type="string" />
				<attribute name="key" type="string" />
				<attribute name="value" type="string" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="messageformat">
		<complexContent>
			<extension base="cookXmlCommon:object">
				<attribute name="locale" type="string" />
				<attribute name="pattern" type="string" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="noadd">
		<complexContent>
			<extension base="cookXmlCommon:object" />
		</complexContent>
	</complexType>

	<complexType name="null">
		<complexContent>
			<extension base="cookXmlCommon:object" />
		</complexContent>
	</complexType>

	<complexType name="numberformat">
		<complexContent>
			<extension base="cookXmlCommon:object">
				<attribute name="groupingused" type="boolean" />
				<attribute name="maximumfractiondigits" type="int" />
				<attribute name="maximumintegerdigits" type="int" />
				<attribute name="minimumfractiondigits" type="int" />
				<attribute name="minimumintegerdigits" type="int" />
				<attribute name="parseintegeronly" type="boolean" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="properties">
		<complexContent>
			<extension base="cookXmlCommon:object" />
		</complexContent>
	</complexType>

	<complexType name="short">
		<complexContent>
			<extension base="cookXmlCommon:object">
				<attribute name="value" type="int" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="simpledateformat">
		<complexContent>
			<extension base="cookXmlCommon:object">
				<attribute name="locale" type="string" />
				<attribute name="pattern" type="string" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="stack">
		<complexContent>
			<extension base="cookXmlCommon:object">
				<attribute name="size" type="int" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="string">
		<complexContent>
			<extension base="cookXmlCommon:object">
				<attribute name="locale" type="string" />
				<attribute name="text" type="string" />
				<attribute name="ui" type="string" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="text">
		<complexContent>
			<extension base="cookXmlCommon:object">
				<attribute name="src" type="string" />
				<attribute name="text" type="string" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="treemap">
		<complexContent>
			<extension base="cookXmlCommon:object" />
		</complexContent>
	</complexType>

	<complexType name="treeset">
		<complexContent>
			<extension base="cookXmlCommon:object" />
		</complexContent>
	</complexType>

	<complexType name="url">
		<complexContent>
			<extension base="cookXmlCommon:object">
				<attribute name="href" type="string" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="varref">
		<complexContent>
			<extension base="cookXmlCommon:object" />
		</complexContent>
	</complexType>

	<complexType name="vector">
		<complexContent>
			<extension base="cookXmlCommon:object">
				<attribute name="size" type="int" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="weakhashmap">
		<complexContent>
			<extension base="cookXmlCommon:object" />
		</complexContent>
	</complexType>


	<element name="object" type="cookXmlCommon:object" />

	<element name="array" type="cookXmlCommon:array"
		substitutionGroup="cookXmlCommon:object" />
	<element name="base" type="cookXmlCommon:base"
		substitutionGroup="cookXmlCommon:object" />
	<element name="boolean" type="cookXmlCommon:boolean"
		substitutionGroup="cookXmlCommon:object" />
	<element name="byte" type="cookXmlCommon:byte"
		substitutionGroup="cookXmlCommon:object" />
	<element name="char" type="cookXmlCommon:char"
		substitutionGroup="cookXmlCommon:object" />
	<element name="choiceformat" type="cookXmlCommon:choiceformat"
		substitutionGroup="cookXmlCommon:object" />
	<element name="date" type="cookXmlCommon:date"
		substitutionGroup="cookXmlCommon:object" />
	<element name="dateformat" type="cookXmlCommon:dateformat"
		substitutionGroup="cookXmlCommon:object" />
	<element name="decimalformat" type="cookXmlCommon:decimalformat"
		substitutionGroup="cookXmlCommon:numberformat" />
	<element name="double" type="cookXmlCommon:double"
		substitutionGroup="cookXmlCommon:object" />
	<element name="float" type="cookXmlCommon:float"
		substitutionGroup="cookXmlCommon:object" />
	<element name="hashmap" type="cookXmlCommon:hashmap"
		substitutionGroup="cookXmlCommon:object" />
	<element name="hashset" type="cookXmlCommon:hashset"
		substitutionGroup="cookXmlCommon:object" />
	<element name="hashtable" type="cookXmlCommon:hashtable"
		substitutionGroup="cookXmlCommon:object" />
	<element name="html" type="cookXmlCommon:html"
		substitutionGroup="cookXmlCommon:object" />
	<element name="identityhashmap" type="cookXmlCommon:identityhashmap"
		substitutionGroup="cookXmlCommon:object" />
	<element name="idref" type="cookXmlCommon:idref"
		substitutionGroup="cookXmlCommon:object" />
	<element name="include" type="cookXmlCommon:include"
		substitutionGroup="cookXmlCommon:object" />
	<element name="int" type="cookXmlCommon:int"
		substitutionGroup="cookXmlCommon:object" />
	<element name="linkedlist" type="cookXmlCommon:linkedlist"
		substitutionGroup="cookXmlCommon:object" />
	<element name="locale" type="cookXmlCommon:locale"
		substitutionGroup="cookXmlCommon:object" />
	<element name="map" type="cookXmlCommon:map"
		substitutionGroup="cookXmlCommon:object" />
	<element name="mapentry" type="cookXmlCommon:mapentry"
		substitutionGroup="cookXmlCommon:object" />
	<element name="messageformat" type="cookXmlCommon:messageformat"
		substitutionGroup="cookXmlCommon:object" />
	<element name="noadd" type="cookXmlCommon:noadd"
		substitutionGroup="cookXmlCommon:object" />
	<element name="null" type="cookXmlCommon:null"
		substitutionGroup="cookXmlCommon:object" />
	<element name="numberformat" type="cookXmlCommon:numberformat"
		substitutionGroup="cookXmlCommon:object" />
	<element name="properties" type="cookXmlCommon:properties"
		substitutionGroup="cookXmlCommon:object" />
	<element name="short" type="cookXmlCommon:short"
		substitutionGroup="cookXmlCommon:object" />
	<element name="simpledateformat"
		type="cookXmlCommon:simpledateformat"
		substitutionGroup="cookXmlCommon:object" />
	<element name="stack" type="cookXmlCommon:stack"
		substitutionGroup="cookXmlCommon:object" />
	<element name="string" type="cookXmlCommon:string"
		substitutionGroup="cookXmlCommon:object" />
	<element name="text" type="cookXmlCommon:text"
		substitutionGroup="cookXmlCommon:object" />
	<element name="treemap" type="cookXmlCommon:treemap"
		substitutionGroup="cookXmlCommon:object" />
	<element name="treeset" type="cookXmlCommon:treeset"
		substitutionGroup="cookXmlCommon:object" />
	<element name="url" type="cookXmlCommon:url"
		substitutionGroup="cookXmlCommon:object" />
	<element name="varref" type="cookXmlCommon:varref"
		substitutionGroup="cookXmlCommon:object" />
	<element name="vector" type="cookXmlCommon:vector"
		substitutionGroup="cookXmlCommon:object" />
	<element name="weakhashmap" type="cookXmlCommon:weakhashmap"
		substitutionGroup="cookXmlCommon:object" />

</schema>