tags/el4j_1_5_1-rc0/el4j/framework/modules/swing/src/main/resources/schema/cookXml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://cookxml.sf.net/"
	xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:cookXml="http://cookxml.sf.net/">

	<attribute name="add" type="boolean" />
	<attribute name="ctor" type="string" />
	<attribute name="func" type="string" />
	<attribute name="get" type="string" />
	<attribute name="id" type="ID" />
	<attribute name="idref" type="string" />
	<attribute name="setas" type="string" />
	<attribute name="tag" type="string" />
	<attribute name="var" type="string" />
	<attribute name="varref" type="string" />
</schema>
