el4j/framework/modules/swing/src/main/resources/schema/cookSwing.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://cookxml.sf.net/cookswing/"
	xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:cookSwing="http://cookxml.sf.net/cookswing/"
	xmlns:cookXmlCommon="http://cookxml.sf.net/common/">

	<import namespace="http://cookxml.sf.net/common/" schemaLocation="http://el4.elca-services.ch/el4j/schema/swing/cookXmlCommon.xsd" />
	
	<complexType name="listeners">
		<complexContent>
			<extension base="cookXmlCommon:object">
				<attribute name="actionlistener" type="string" />
				<attribute name="adjustmentlistener" type="string" />
				<attribute name="ancestorlistener" type="string" />
				<attribute name="awteventlistener" type="string" />
				<attribute name="caretlistener" type="string" />
				<attribute name="celleditorlistener" type="string" />
				<attribute name="changelistener" type="string" />
				<attribute name="componentlistener" type="string" />
				<attribute name="containerlistener" type="string" />
				<attribute name="documentlistener" type="string" />
				<attribute name="exceptionlistener" type="string" />
				<attribute name="focuslistener" type="string" />
				<attribute name="hierarchyboundslistener" type="string" />
				<attribute name="hierarchylistener" type="string" />
				<attribute name="hyperlinklistener" type="string" />
				<attribute name="inputmethodlistener" type="string" />
				<attribute name="internalframelistener" type="string" />
				<attribute name="itemlistener" type="string" />
				<attribute name="keylistener" type="string" />
				<attribute name="listdatalistener" type="string" />
				<attribute name="listselectionlistener" type="string" />
				<attribute name="menudragmouselistener" type="string" />
				<attribute name="menukeylistener" type="string" />
				<attribute name="menulistener" type="string" />
				<attribute name="mouseinputlistener" type="string" />
				<attribute name="mouselistener" type="string" />
				<attribute name="mousemotionlistener" type="string" />
				<attribute name="mousewheellistener" type="string" />
				<attribute name="popupmenulistener" type="string" />
				<attribute name="propertychangelistener" type="string" />
				<attribute name="tablecolumnmodellistener"
					type="string" />
				<attribute name="tablemodellistener" type="string" />
				<attribute name="textlistener" type="string" />
				<attribute name="treeexpansionlistener" type="string" />
				<attribute name="treemodellistener" type="string" />
				<attribute name="treeselectionlistener" type="string" />
				<attribute name="treewillexpandlistener" type="string" />
				<attribute name="undoableeditlistener" type="string" />
				<attribute name="vetoablechangelistener" type="string" />
				<attribute name="windowfocuslistener" type="string" />
				<attribute name="windowlistener" type="string" />
				<attribute name="windowstatelistener" type="string" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="window-constants">
		<complexContent>
			<extension base="cookSwing:component">
				<attribute name="defaultcloseoperation" type="string" />
				<attribute name="locationrelativeto" type="string" />
				<attribute name="packed" type="boolean" />
			</extension>
		</complexContent>
	</complexType>

	<!-- containers -->
	<complexType name="applet">
		<complexContent>
			<extension base="cookSwing:window-constants" />
		</complexContent>
	</complexType>

	<complexType name="component" mixed="true">
		<complexContent>
			<extension base="cookSwing:listeners">
				<sequence minOccurs="0" maxOccurs="unbounded">
					<choice>
						<element ref="cookSwing:border" />
						<element ref="cookSwing:layout" />
						<!-- TODO more -->
					</choice>
				</sequence>
				<attribute name="alignmentx" type="float" />
				<attribute name="alignmenty" type="float" />
				<attribute name="autoscrolls" type="boolean" />
				<attribute name="background" type="string" />
				<attribute name="bounds" type="string" />
				<attribute name="cursor" type="string" />
				<attribute name="debuggraphicsoptions" type="string" />
				<attribute name="defaultlocale" type="string" />
				<attribute name="doublebuffered" type="boolean" />
				<attribute name="enabled" type="boolean" />
				<attribute name="focusable" type="boolean" />
				<attribute name="focuscycleroot" type="boolean" />
				<attribute name="focustraversalkeysenabled"
					type="boolean" />
				<attribute name="font" type="string" />
				<attribute name="foreground" type="string" />
				<attribute name="ignorerepaint" type="boolean" />
				<attribute name="locale" type="string" />
				<attribute name="location" type="string" />
				<attribute name="maximumsize" type="string" />
				<attribute name="minimumsize" type="string" />
				<attribute name="name" type="string" />
				<attribute name="opaque" type="boolean" />
				<attribute name="preferredsize" type="string" />
				<attribute name="requestfocusenabled" type="boolean" />
				<attribute name="size" type="string" />
				<attribute name="tooltiptext" type="string" />
				<attribute name="verifyinputwhenfocustarget"
					type="string" />
				<attribute name="visible" type="boolean" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="desktoppane">
		<complexContent>
			<extension base="cookSwing:component">
				<attribute name="dragmode" type="string" />
				<attribute name="live_drag_mode" type="string" />
				<attribute name="outline_drag_mode" type="string" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="dialog">
		<complexContent>
			<extension base="cookSwing:window-constants">
				<attribute name="decorated" type="string" />
				<attribute name="modal" type="string" />
				<attribute name="resizable" type="boolean" />
				<attribute name="title" type="string" />
				<attribute name="undecorated" type="boolean" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="frame">
		<complexContent>
			<extension base="cookSwing:window-constants">
				<attribute name="decorated" type="string" />
				<attribute name="defaultlookandfeeldecorated"
					type="boolean" />
				<attribute name="extendedstate" type="string" />
				<attribute name="iconimage" type="string" />
				<attribute name="maximizedbounds" type="string" />
				<attribute name="resizable" type="string" />
				<attribute name="state" type="string" />
				<attribute name="title" type="string" />
				<attribute name="undecorated" type="boolean" />
				<!-- TODO check if all -->
			</extension>
		</complexContent>
	</complexType>

	<complexType name="internalframe">
		<complexContent>
			<extension base="cookSwing:window-constants">
				<attribute name="closable" type="boolean" />
				<attribute name="desktopicon" type="string" />
				<attribute name="frameicon" type="string" />
				<attribute name="icon" type="boolean" />
				<attribute name="iconifiable" type="boolean" />
				<attribute name="layer" type="int" />
				<attribute name="maximizable" type="boolean" />
				<attribute name="maximum" type="boolean" />
				<attribute name="normalbounds" type="string" />
				<attribute name="resizable" type="boolean" />
				<attribute name="selected" type="boolean" />
				<attribute name="title" type="string" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="panel">
		<complexContent>
			<extension base="cookSwing:component" />
		</complexContent>
	</complexType>

	<complexType name="scrollpane">
		<complexContent>
			<extension base="cookSwing:component">
				<attribute name="horizontalscrollbarpolicy"
					type="string" />
				<attribute name="verticalscrollbarpolicy" type="string" />
				<attribute name="viewportborder" type="string" />
				<attribute name="wheelscrollingenabled" type="boolean" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="tabbedpane">
		<complexContent>
			<extension base="cookSwing:component">
				<attribute name="selectedindex" type="int" />
				<attribute name="tablayoutpolicy" type="string" />
				<attribute name="tabplacement" type="string" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="rootpane">
		<complexContent>
			<extension base="cookSwing:component">
				<attribute name="windowdecorationstyle" type="string" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="window">
		<complexContent>
			<extension base="cookSwing:window-constants" />
		</complexContent>
	</complexType>

	<element name="listeners" type="cookSwing:listeners"
		substitutionGroup="cookXmlCommon:object" />
	<element name="component" type="cookSwing:component"
		substitutionGroup="cookSwing:listeners" />
	<element name="window-constants" type="cookSwing:window-constants"
		substitutionGroup="cookSwing:listeners" />

	<element name="applet" type="cookSwing:applet"
		substitutionGroup="cookSwing:window-constants" />
	<element name="desktoppane" type="cookSwing:desktoppane"
		substitutionGroup="cookSwing:component" />
	<element name="dialog" type="cookSwing:dialog"
		substitutionGroup="cookSwing:window-constants" />
	<element name="frame" type="cookSwing:frame"
		substitutionGroup="cookSwing:window-constants" />
	<element name="internalframe" type="cookSwing:internalframe"
		substitutionGroup="cookSwing:window-constants" />
	<element name="panel" type="cookSwing:panel"
		substitutionGroup="cookSwing:component" />
	<element name="rootpane" type="cookSwing:rootpane"
		substitutionGroup="cookSwing:component" />
	<element name="scrollpane" type="cookSwing:scrollpane"
		substitutionGroup="cookSwing:component" />
	<element name="tabbedpane" type="cookSwing:tabbedpane"
		substitutionGroup="cookSwing:component" />
	<element name="window" type="cookSwing:window"
		substitutionGroup="cookSwing:window-constants" />


	<!-- abstract types -->
	<complexType name="abstractbutton" abstract="true">
		<complexContent>
			<extension base="cookSwing:component">
				<attribute name="action" type="string" />
				<attribute name="actioncommand" type="string" />
				<attribute name="contentareafilled" type="boolean" />
				<attribute name="disabledicon" type="string" />
				<attribute name="disabledselectedicon" type="string" />
				<attribute name="displayedmnemonicindex" type="int" />
				<attribute name="focuspainted" type="boolean" />
				<attribute name="horizontalalignment" type="string" />
				<attribute name="horizontaltextposition" type="string" />
				<attribute name="icon" type="string" />
				<attribute name="icontextgap" type="int" />
				<attribute name="label" type="string" />
				<attribute name="margin" type="string" />
				<attribute name="mnemonic" type="string" />
				<attribute name="multiclickthreshhold" type="int" />
				<attribute name="pressedicon" type="string" />
				<attribute name="rolloverenabled" type="boolean" />
				<attribute name="rollovericon" type="string" />
				<attribute name="rolloverselectedicon" type="string" />
				<attribute name="selectedicon" type="string" />
				<attribute name="text" type="string" />
				<attribute name="verticalalignment" type="string" />
				<attribute name="verticaltextposition" type="string" />
			</extension>
		</complexContent>
	</complexType>

	<element name="abstractbutton" type="cookSwing:abstractbutton"
		abstract="true" substitutionGroup="cookSwing:component" />


	<!-- menu related -->
	<complexType name="menubar">
		<complexContent>
			<extension base="cookSwing:component">
				<attribute name="borderpainted" type="boolean" />
				<attribute name="helpmenu" type="string" />
				<attribute name="margin" type="string" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="menu">
		<complexContent>
			<extension base="cookSwing:abstractbutton">
				<attribute name="accelerator" type="string" />
				<attribute name="armed" type="boolean" />
				<attribute name="componentorientation" type="string" />
				<attribute name="delay" type="int" />
				<attribute name="popupmenuvisible" type="boolean" />
				<attribute name="selected" type="boolean" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="menuitem">
		<complexContent>
			<extension base="cookSwing:abstractbutton">
				<attribute name="accelerator" type="string" />
				<attribute name="armed" type="boolean" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="checkboxmenuitem">
		<complexContent>
			<extension base="cookSwing:abstractbutton">
				<attribute name="state" type="boolean" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="radiobuttonmenuitem">
		<complexContent>
			<extension base="cookSwing:abstractbutton" />
		</complexContent>
	</complexType>

	<complexType name="menusplit">
		<complexContent>
			<extension base="cookSwing:component" />
		</complexContent>
	</complexType>

	<complexType name="popupmenu">
		<complexContent>
			<extension base="cookSwing:component">
				<attribute name="borderpainted" type="boolean" />
				<attribute name="defaultlightweightpopupenabled"
					type="boolean" />
				<attribute name="label" type="string" />
				<attribute name="lightweightpopupenabled"
					type="boolean" />
				<attribute name="popupsize" type="string" />
				<attribute name="selected" type="boolean" />
			</extension>
		</complexContent>
	</complexType>

	<element name="menubar" type="cookSwing:menubar"
		substitutionGroup="cookSwing:component" />
	<element name="menu" type="cookSwing:menu"
		substitutionGroup="cookSwing:abstractbutton" />
	<element name="menuitem" type="cookSwing:menuitem"
		substitutionGroup="cookSwing:abstractbutton" />
	<element name="checkboxmenuitem" type="cookSwing:checkboxmenuitem"
		substitutionGroup="cookSwing:abstractbutton" />
	<element name="radiobuttonmenuitem"
		type="cookSwing:radiobuttonmenuitem"
		substitutionGroup="cookSwing:abstractbutton" />
	<element name="menusplit" type="cookSwing:menusplit"
		substitutionGroup="cookSwing:component" />
	<element name="popupmenu" type="cookSwing:popupmenu"
		substitutionGroup="cookSwing:component" />

	<!-- toolbar related -->
	<complexType name="toolbar">
		<complexContent>
			<extension base="cookSwing:component">
				<attribute name="borderpainted" type="boolean" />
				<attribute name="floatable" type="boolean" />
				<attribute name="margin" type="string" />
				<attribute name="orientation" type="string" />
				<attribute name="rollover" type="boolean" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="toolbar-separator">
		<complexContent>
			<extension base="cookSwing:component">
				<attribute name="separatorsize" type="string" />
			</extension>
		</complexContent>
	</complexType>

	<element name="toolbar" type="cookSwing:toolbar"
		substitutionGroup="cookSwing:component" />
	<element name="toolbar-separator" type="cookSwing:toolbar-separator"
		substitutionGroup="cookSwing:component" />



	<!-- text components -->
	<complexType name="textcomponent">
		<complexContent>
			<extension base="cookSwing:component">
				<attribute name="caretcolor" type="string" />
				<attribute name="caretposition" type="int" />
				<attribute name="componentorientation" type="string" />
				<attribute name="disabledtextcolor" type="string" />
				<attribute name="dragenabled" type="boolean" />
				<attribute name="editable" type="string" />
				<attribute name="focusaccelerator" type="string" />
				<attribute name="margin" type="string" />
				<attribute name="selectedtextcolor" type="string" />
				<attribute name="selectioncolor" type="string" />
				<attribute name="selectionend" type="int" />
				<attribute name="selectionstart" type="int" />
				<attribute name="text" type="string" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="textfield">
		<complexContent>
			<extension base="cookSwing:textcomponent">
				<attribute name="columns" type="int" />
				<attribute name="horizontalalignment" type="string" />
				<attribute name="scrolloffset" type="int" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="formattedtextfield" mixed="true">
		<complexContent>
			<extension base="cookSwing:textfield">
				<sequence minOccurs="0" maxOccurs="1">
					<element ref="cookSwing:formatter" />
				</sequence>
				<attribute name="focuslostbehavior" type="string" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="passwordfield">
		<complexContent>
			<extension base="cookSwing:textfield">
				<attribute name="echochar" type="string" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="textarea">
		<complexContent>
			<extension base="cookSwing:textcomponent">
				<attribute name="columns" type="int" />
				<attribute name="linewrap" type="boolean" />
				<attribute name="rows" type="int" />
				<attribute name="tabsize" type="int" />
				<attribute name="wrapstyleword" type="boolean" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="editorpane">
		<complexContent>
			<extension base="cookSwing:textcomponent">
				<attribute name="contenttype" type="string" />
				<attribute name="page" type="string" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="textpane">
		<complexContent>
			<extension base="cookSwing:textcomponent">
				<attribute name="contenttype" type="string" />
				<attribute name="page" type="string" />
			</extension>
		</complexContent>
	</complexType>

	<element name="textcomponent" type="cookSwing:textcomponent"
		substitutionGroup="cookSwing:component" />
	<element name="textfield" type="cookSwing:textfield"
		substitutionGroup="cookSwing:textcomponent" />
	<element name="formattedtextfield"
		type="cookSwing:formattedtextfield"
		substitutionGroup="cookSwing:textfield" />
	<element name="passwordfield" type="cookSwing:passwordfield"
		substitutionGroup="cookSwing:textfield" />
	<element name="textarea" type="cookSwing:textarea"
		substitutionGroup="cookSwing:textcomponent" />
	<element name="editorpane" type="cookSwing:editorpane"
		substitutionGroup="cookSwing:component" />
	<element name="textpane" type="cookSwing:textpane"
		substitutionGroup="cookSwing:textcomponent" />



	<!-- common components -->
	<complexType name="button">
		<complexContent>
			<extension base="cookSwing:abstractbutton">
				<attribute name="defaultcapable" type="boolean" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="buttongroup">
		<complexContent>
			<extension base="cookSwing:component" />
		</complexContent>
	</complexType>

	<complexType name="checkbox">
		<complexContent>
			<extension base="cookSwing:abstractbutton">
				<attribute name="borderpaintedflat" type="boolean" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="colorchooser">
		<complexContent>
			<extension base="cookSwing:component">
				<attribute name="color" type="string" />
				<attribute name="dragenabled" type="boolean" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="combobox">
		<complexContent>
			<extension base="cookSwing:component">
				<attribute name="editable" type="boolean" />
				<attribute name="lightweightpopupenabled"
					type="boolean" />
				<attribute name="maximumrowcount" type="int" />
				<attribute name="popupvisible" type="boolean" />
				<attribute name="selectedindex" type="int" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="filechooser">
		<complexContent>
			<extension base="cookSwing:component">
				<attribute name="acceptallfilefilterused"
					type="boolean" />
				<attribute name="approvebuttonmnemonic" type="string" />
				<attribute name="approvebuttontext" type="string" />
				<attribute name="approvebuttontooltiptext"
					type="string" />
				<attribute name="controlbuttonsareshown" type="boolean" />
				<attribute name="dragenabled" type="boolean" />
				<attribute name="dialogtype" type="string" />
				<attribute name="dialogtitle" type="string" />
				<attribute name="filehidingenabled" type="boolean" />
				<attribute name="fileselectionmode" type="string" />
				<attribute name="multiselectionenabled" type="boolean" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="label">
		<complexContent>
			<extension base="cookSwing:component">
				<attribute name="disabledicon" type="string" />
				<attribute name="displayedmnemonic" type="string" />
				<attribute name="displayedmnemonicindex" type="int" />
				<attribute name="horizontalalignment" type="string" />
				<attribute name="horizontaltextposition" type="string" />
				<attribute name="icon" type="string" />
				<attribute name="icontextgap" type="int" />
				<attribute name="labelfor" type="string" />
				<attribute name="text" type="string" />
				<attribute name="verticalalignment" type="string" />
				<attribute name="verticaltextposition" type="string" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="list">
		<complexContent>
			<extension base="cookSwing:component">
				<attribute name="dragenabled" type="boolean" />
				<attribute name="fixedcellheight" type="int" />
				<attribute name="fixedcellwidth" type="int" />
				<attribute name="layoutorientation" type="string" />
				<attribute name="selectedindex" type="int" />
				<attribute name="selectionbackground" type="string" />
				<attribute name="selectionforeground" type="string" />
				<attribute name="selectionmode" type="string" />
				<attribute name="visiblerowcount" type="int" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="progressbar">
		<complexContent>
			<extension base="cookSwing:component">
				<attribute name="indeterminate" type="boolean" />
				<attribute name="maximum" type="int" />
				<attribute name="minimum" type="int" />
				<attribute name="orientation" type="string" />
				<attribute name="string" type="string" />
				<attribute name="stringpainted" type="boolean" />
				<attribute name="value" type="int" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="radiobutton">
		<complexContent>
			<extension base="cookSwing:abstractbutton" />
		</complexContent>
	</complexType>

	<complexType name="scrollbar">
		<complexContent>
			<extension base="cookSwing:component">
				<attribute name="maximum" type="int" />
				<attribute name="minimum" type="int" />
				<attribute name="orientation" type="string" />
				<attribute name="unitincrement" type="int" />
				<attribute name="value" type="int" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="separator">
		<complexContent>
			<extension base="cookSwing:component">
				<attribute name="orientation" type="string" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="slider">
		<complexContent>
			<extension base="cookSwing:component">
				<attribute name="inverted" type="boolean" />
				<attribute name="majortickspacing" type="int" />
				<attribute name="maximum" type="int" />
				<attribute name="minimum" type="int" />
				<attribute name="minortickspacing" type="int" />
				<attribute name="orientation" type="string" />
				<attribute name="paintlabels" type="boolean" />
				<attribute name="paintticks" type="boolean" />
				<attribute name="painttrack" type="boolean" />
				<attribute name="snaptoticks" type="boolean" />
				<attribute name="value" type="int" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="spinner">
		<complexContent>
			<extension base="cookSwing:component" />
		</complexContent>
	</complexType>

	<complexType name="spinner-dateeditor">
		<complexContent>
			<extension base="cookSwing:component">
				<attribute name="format" type="string" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="spinner-defaulteditor">
		<complexContent>
			<extension base="cookSwing:component" />
		</complexContent>
	</complexType>

	<complexType name="spinner-listeditor">
		<complexContent>
			<extension base="cookSwing:component" />
		</complexContent>
	</complexType>

	<complexType name="spinner-numbereditor">
		<complexContent>
			<extension base="cookSwing:component">
				<attribute name="format" type="string" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="spinnerdatemodel">
		<complexContent>
			<extension base="cookSwing:component">
				<attribute name="calendarfield" type="string" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="spinnerlistmodel">
		<complexContent>
			<extension base="cookSwing:component" />
		</complexContent>
	</complexType>

	<complexType name="spinnernumbermodel">
		<complexContent>
			<extension base="cookSwing:component" />
		</complexContent>
	</complexType>

	<complexType name="splitpane">
		<complexContent>
			<extension base="cookSwing:component">
				<attribute name="continuouslayout" type="boolean" />
				<attribute name="dividerlocation" type="float" />
				<attribute name="dividersize" type="int" />
				<attribute name="lastdividerlocation" type="int" />
				<attribute name="onetouchexpandable" type="boolean" />
				<attribute name="orientation" type="string" />
				<attribute name="resizeweight" type="float" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="tab">
		<complexContent>
			<extension base="cookXmlCommon:object">
				<attribute name="background" type="string" />
				<attribute name="disabledicon" type="string" />
				<attribute name="displayedmnemonicindex" type="int" />
				<attribute name="enabled" type="boolean" />
				<attribute name="foreground" type="string" />
				<attribute name="icon" type="string" />
				<attribute name="mnemonic" type="string" />
				<attribute name="title" type="string" />
				<attribute name="tooltiptext" type="string" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="table">
		<complexContent>
			<extension base="cookSwing:component">
				<attribute name="autocreatecolumnsfrommodel"
					type="boolean" />
				<attribute name="autoresizemode" type="string" />
				<attribute name="cellselectionenabled" type="boolean" />
				<attribute name="columnselectionallowed" type="boolean" />
				<attribute name="editingcolumn" type="int" />
				<attribute name="editingrow" type="int" />
				<attribute name="gridcolor" type="string" />
				<attribute name="intercellspacing" type="string" />
				<attribute name="preferredscrollableviewportsize"
					type="string" />
				<attribute name="rowheight" type="int" />
				<attribute name="rowmargin" type="int" />
				<attribute name="rowselectionallowed" type="boolean" />
				<attribute name="selectionbackground" type="string" />
				<attribute name="selectionmode" type="string" />
				<attribute name="showgrid" type="boolean" />
				<attribute name="showhorizontallines" type="boolean" />
				<attribute name="showverticallines" type="boolean" />
				<attribute name="surrendersfocusonkeystroke"
					type="boolean" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="tableheader">
		<complexContent>
			<extension base="cookSwing:component">
				<attribute name="reorderingallowed" type="boolean" />
				<!-- TODO -->
			</extension>
		</complexContent>
	</complexType>

	<complexType name="togglebutton">
		<complexContent>
			<extension base="cookSwing:abstractbutton">
				<attribute name="pressed" type="boolean" />
				<attribute name="selected" type="boolean" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="tooltip">
		<complexContent>
			<extension base="cookSwing:component">
				<attribute name="tiptext" type="string" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="tree">
		<complexContent>
			<extension base="cookSwing:component">
				<attribute name="expandsselectedpaths" type="boolean" />
				<attribute name="invokesstopcellediting" type="boolean" />
				<attribute name="largemodel" type="boolean" />
				<attribute name="rootvisible" type="boolean" />
				<attribute name="rowheight" type="int" />
				<attribute name="scrollsonexpand" type="boolean" />
				<attribute name="selectionrow" type="int" />
				<attribute name="showsroothandles" type="boolean" />
				<attribute name="toggleclickcount" type="int" />
				<attribute name="visiblerowcount" type="int" />
			</extension>
		</complexContent>
	</complexType>

	<element name="button" type="cookSwing:button"
		substitutionGroup="cookSwing:abstractbutton" />
	<element name="buttongroup" type="cookSwing:buttongroup"
		substitutionGroup="cookSwing:component" />
	<element name="checkbox" type="cookSwing:checkbox"
		substitutionGroup="cookSwing:abstractbutton" />
	<element name="colorchooser" type="cookSwing:colorchooser"
		substitutionGroup="cookSwing:component" />
	<element name="combobox" type="cookSwing:combobox"
		substitutionGroup="cookSwing:component" />
	<element name="filechooser" type="cookSwing:filechooser"
		substitutionGroup="cookSwing:component" />
	<element name="label" type="cookSwing:label"
		substitutionGroup="cookSwing:component" />
	<element name="list" type="cookSwing:list"
		substitutionGroup="cookSwing:component" />
	<element name="progressbar" type="cookSwing:progressbar"
		substitutionGroup="cookSwing:component" />
	<element name="radiobutton" type="cookSwing:radiobutton"
		substitutionGroup="cookSwing:abstractbutton" />
	<element name="scrollbar" type="cookSwing:scrollbar"
		substitutionGroup="cookSwing:component" />
	<element name="separator" type="cookSwing:separator"
		substitutionGroup="cookSwing:component" />
	<element name="slider" type="cookSwing:slider"
		substitutionGroup="cookSwing:component" />
	<element name="spinner" type="cookSwing:spinner"
		substitutionGroup="cookSwing:component" />
	<element name="spinner-dateeditor"
		type="cookSwing:spinner-dateeditor"
		substitutionGroup="cookSwing:component" />
	<element name="spinner-defaulteditor"
		type="cookSwing:spinner-defaulteditor"
		substitutionGroup="cookSwing:component" />
	<element name="spinner-listeditor"
		type="cookSwing:spinner-listeditor"
		substitutionGroup="cookSwing:component" />
	<element name="spinner-numbereditor"
		type="cookSwing:spinner-numbereditor"
		substitutionGroup="cookSwing:component" />
	<element name="spinnerdatemodel" type="cookSwing:spinnerdatemodel"
		substitutionGroup="cookSwing:component" />
	<element name="spinnerlistmodel" type="cookSwing:spinnerlistmodel"
		substitutionGroup="cookSwing:component" />
	<element name="spinnernumbermodel"
		type="cookSwing:spinnernumbermodel"
		substitutionGroup="cookSwing:component" />
	<element name="splitpane" type="cookSwing:splitpane"
		substitutionGroup="cookSwing:component" />
	<element name="tab" type="cookSwing:tab"
		substitutionGroup="cookXmlCommon:object" />
	<element name="table" type="cookSwing:table"
		substitutionGroup="cookSwing:component" />
	<element name="tableheader" type="cookSwing:tableheader"
		substitutionGroup="cookSwing:component" />
	<element name="togglebutton" type="cookSwing:togglebutton"
		substitutionGroup="cookSwing:abstractbutton" />
	<element name="tooltip" type="cookSwing:tooltip"
		substitutionGroup="cookSwing:component" />
	<element name="tree" type="cookSwing:tree"
		substitutionGroup="cookSwing:component" />




	<!-- borders -->
	<complexType name="border" abstract="true">
		<complexContent>
			<extension base="cookXmlCommon:object" />
		</complexContent>
	</complexType>

	<complexType name="bevelborder" mixed="true">
		<complexContent>
			<extension base="cookSwing:border">
				<sequence minOccurs="0" maxOccurs="1">
					<element ref="cookSwing:insets"></element>
				</sequence>
				<attribute name="highlight" type="string" />
				<attribute name="highlightinner" type="string" />
				<attribute name="highlightouter" type="int" />
				<attribute name="shadow" type="string" />
				<attribute name="shadowinner" type="int" />
				<attribute name="shadowouter" type="string" />
				<attribute name="soft" type="boolean" />
				<attribute name="type" type="string" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="compoundborder">
		<complexContent>
			<extension base="cookSwing:border" />
		</complexContent>
	</complexType>

	<complexType name="emptyborder">
		<complexContent>
			<extension base="cookSwing:border">
				<attribute name="bottom" type="int" />
				<attribute name="insets" type="string" />
				<attribute name="left" type="int" />
				<attribute name="right" type="int" />
				<attribute name="top" type="int" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="etchedborder">
		<complexContent>
			<extension base="cookSwing:border">
				<attribute name="highlight" type="string" />
				<attribute name="shadow" type="string" />
				<attribute name="type" type="string" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="lineborder">
		<complexContent>
			<extension base="cookSwing:border">
				<attribute name="color" type="string" />
				<attribute name="thickness" type="int" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="matteborder" mixed="true">
		<complexContent>
			<extension base="cookSwing:border">
				<sequence maxOccurs="unbounded" minOccurs="0">
					<choice>
						<element ref="cookSwing:color"></element>
						<element ref="cookSwing:icon"></element>
						<element ref="cookSwing:insets"></element>
					</choice>
				</sequence>
				<attribute name="bottom" type="int" />
				<attribute name="color" type="string" />
				<attribute name="insets" type="string" />
				<attribute name="left" type="int" />
				<attribute name="mattecolor" type="string" />
				<attribute name="right" type="int" />
				<attribute name="tileicon" type="string" />
				<attribute name="top" type="int" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="titledborder" mixed="true">
		<complexContent>
			<extension base="cookSwing:border">
				<sequence minOccurs="0" maxOccurs="1">
					<element ref="cookSwing:border"></element>
				</sequence>
				<attribute name="title" type="string" />
				<attribute name="titlecolor" type="string" />
				<attribute name="titlefont" type="string" />
				<attribute name="titlejustification" type="string" />
				<attribute name="titleposition" type="string" />
			</extension>
		</complexContent>
	</complexType>

	<element name="border" type="cookSwing:border"
		substitutionGroup="cookXmlCommon:object" />
	<element name="bevelborder" type="cookSwing:bevelborder"
		substitutionGroup="cookSwing:border" />
	<element name="compoundborder" type="cookSwing:compoundborder"
		substitutionGroup="cookSwing:border" />
	<element name="emptyborder" type="cookSwing:emptyborder"
		substitutionGroup="cookSwing:border" />
	<element name="etchedborder" type="cookSwing:etchedborder"
		substitutionGroup="cookSwing:border" />
	<element name="lineborder" type="cookSwing:lineborder"
		substitutionGroup="cookSwing:border" />
	<element name="matteborder" type="cookSwing:matteborder"
		substitutionGroup="cookSwing:border" />
	<element name="titledborder" type="cookSwing:titledborder"
		substitutionGroup="cookSwing:border" />



	<!-- layout -->
	<complexType name="layout" abstract="true">
		<complexContent>
			<extension base="cookXmlCommon:object" />
		</complexContent>
	</complexType>

	<complexType name="borderlayout" mixed="true">
		<complexContent>
			<extension base="cookSwing:layout">
				<sequence minOccurs="0" maxOccurs="unbounded">
					<element ref="cookSwing:constraint"></element>
				</sequence>
				<attribute name="hgap" type="int" />
				<attribute name="vgap" type="int" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="constraint" mixed="true">
		<complexContent>
			<extension base="cookXmlCommon:object">
				<sequence minOccurs="0" maxOccurs="unbounded">
					<element ref="cookXmlCommon:object"></element>
				</sequence>
				<attribute name="location" type="string" />
				<attribute name="name" type="string" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="boxlayout">
		<complexContent>
			<extension base="cookSwing:layout" />
		</complexContent>
	</complexType>

	<complexType name="cardlayout">
		<complexContent>
			<extension base="cookSwing:layout">
				<attribute name="hgap" type="int" />
				<attribute name="vgap" type="int" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="flowlayout">
		<complexContent>
			<extension base="cookSwing:layout">
				<attribute name="alignment" type="string" />
				<attribute name="hgap" type="int" />
				<attribute name="vgap" type="int" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="gridbaglayout" mixed="true">
		<complexContent>
			<extension base="cookSwing:layout">
				<sequence minOccurs="0" maxOccurs="unbounded">
					<element ref="cookSwing:gridbagconstraints"></element>
				</sequence>
				<attribute name="columnweights" type="float" />
				<attribute name="columnwidths" type="int" />
				<attribute name="rowheights" type="int" />
				<attribute name="rowweights" type="float" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="gridbagconstraints" mixed="true">
		<complexContent>
			<extension base="cookXmlCommon:object">
				<sequence minOccurs="0" maxOccurs="unbounded">
					<element ref="cookXmlCommon:object"></element>
				</sequence>
				<attribute name="anchor" type="string" />
				<attribute name="fill" type="string" />
				<attribute name="gridheight" type="string" />
				<attribute name="gridwidth" type="string" />
				<attribute name="gridx" type="int" />
				<attribute name="gridy" type="int" />
				<attribute name="insets" type="string" />
				<attribute name="ipadx" type="int" />
				<attribute name="ipady" type="int" />
				<attribute name="weightx" type="float" />
				<attribute name="weighty" type="float" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="gridlayout">
		<complexContent>
			<extension base="cookSwing:layout">
				<attribute name="columns" type="int" />
				<attribute name="hgap" type="int" />
				<attribute name="rows" type="int" />
				<attribute name="vgap" type="int" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="overlaylayout">
		<complexContent>
			<extension base="cookSwing:layout" />
		</complexContent>
	</complexType>

	<complexType name="springgridlayout">
		<complexContent>
			<extension base="cookSwing:layout">
				<attribute name="columns" type="int" />
				<attribute name="compact" type="boolean" />
				<attribute name="initialx" type="int" />
				<attribute name="initialy" type="int" />
				<attribute name="hgap" type="int" />
				<attribute name="rows" type="int" />
				<attribute name="vgap" type="int" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="springlayout" mixed="true">
		<complexContent>
			<extension base="cookSwing:layout">
				<sequence minOccurs="0" maxOccurs="unbounded">
					<element ref="cookSwing:springconstraint"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="springconstraint">
		<complexContent>
			<extension base="cookXmlCommon:object">
				<attribute name="clearheight" type="boolean" />
				<attribute name="clearwidth" type="boolean" />
				<attribute name="edge1" type="string" />
				<attribute name="edge2" type="string" />
				<attribute name="maxheight" type="int" />
				<attribute name="maxwidth" type="int" />
				<attribute name="minheight" type="int" />
				<attribute name="minwidth" type="int" />
				<attribute name="pad" type="int" />
				<attribute name="preferredheight" type="int" />
				<attribute name="preferredwidth" type="int" />
				<attribute name="xpad" type="int" />
				<attribute name="ypad" type="int" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="spring">
		<complexContent>
			<extension base="cookXmlCommon:object"></extension>
		</complexContent>
	</complexType>

	<element name="layout" type="cookSwing:layout"
		substitutionGroup="cookXmlCommon:object" />
	<element name="borderlayout" type="cookSwing:borderlayout"
		substitutionGroup="cookSwing:layout" />
	<element name="constraint" type="cookSwing:constraint"
		substitutionGroup="cookXmlCommon:object" />
	<element name="boxlayout" type="cookSwing:boxlayout"
		substitutionGroup="cookSwing:layout" />
	<element name="cardlayout" type="cookSwing:cardlayout"
		substitutionGroup="cookSwing:layout" />
	<element name="flowlayout" type="cookSwing:flowlayout"
		substitutionGroup="cookSwing:layout" />
	<element name="gridbaglayout" type="cookSwing:gridbaglayout"
		substitutionGroup="cookSwing:layout" />
	<element name="gridbagconstraints"
		type="cookSwing:gridbagconstraints"
		substitutionGroup="cookXmlCommon:object" />
	<element name="gridlayout" type="cookSwing:gridlayout"
		substitutionGroup="cookSwing:layout" />
	<element name="overlaylayout" type="cookSwing:overlaylayout"
		substitutionGroup="cookSwing:layout" />
	<element name="springgridlayout" type="cookSwing:springgridlayout"
		substitutionGroup="cookSwing:layout" />
	<element name="springlayout" type="cookSwing:springlayout"
		substitutionGroup="cookSwing:layout" />
	<element name="springconstraint" type="cookSwing:springconstraint"
		substitutionGroup="cookXmlCommon:object" />
	<element name="spring" type="cookSwing:spring"
		substitutionGroup="cookXmlCommon:object" />



	<!-- formatters -->
	<complexType name="formatter" abstract="true">
		<complexContent>
			<extension base="cookXmlCommon:object">
				<attribute name="allowsinvalid" type="boolean" />
				<attribute name="commitsonvalidedit" type="boolean" />
				<attribute name="overwritemode" type="boolean" />
				<attribute name="valueclass" type="string" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="defaultformatter">
		<complexContent>
			<extension base="cookSwing:formatter" />
		</complexContent>
	</complexType>

	<complexType name="dateformatter" mixed="true">
		<complexContent>
			<extension base="cookSwing:formatter">
				<sequence minOccurs="0" maxOccurs="1">
					<element ref="cookXmlCommon:dateformat"></element>
				</sequence>
				<attribute name="maximum" type="string" />
				<attribute name="minimum" type="string" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="internationalformatter">
		<complexContent>
			<extension base="cookSwing:formatter">
				<attribute name="maximum" type="string" />
				<attribute name="minimum" type="string" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="maskformatter">
		<complexContent>
			<extension base="cookSwing:formatter">
				<attribute name="invalidcharacters" type="string" />
				<attribute name="mask" type="string" />
				<attribute name="placeholder" type="string" />
				<attribute name="placeholdercharacter" type="string" />
				<attribute name="validcharacters" type="string" />
				<attribute name="valuecontainsliteralcharacters"
					type="boolean" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="numberformatter">
		<complexContent>
			<extension base="cookSwing:formatter">
				<attribute name="maximum" type="string" />
				<attribute name="minimum" type="string" />
			</extension>
		</complexContent>
	</complexType>

	<element name="formatter" type="cookSwing:formatter"
		substitutionGroup="cookXmlCommon:object" />
	<element name="defaultformatter" type="cookSwing:defaultformatter"
		substitutionGroup="cookSwing:formatter" />
	<element name="dateformatter" type="cookSwing:dateformatter"
		substitutionGroup="cookSwing:formatter" />
	<element name="internationalformatter"
		type="cookSwing:internationalformatter"
		substitutionGroup="cookSwing:formatter" />
	<element name="maskformatter" type="cookSwing:maskformatter"
		substitutionGroup="cookSwing:formatter" />
	<element name="numberformatter" type="cookSwing:numberformatter"
		substitutionGroup="cookSwing:formatter" />


	<!-- default models -->
	<complexType name="defaultlistmodel">
		<complexContent>
			<extension base="cookXmlCommon:object">
				<attribute name="size" type="int" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="defaulttablemodel">
		<complexContent>
			<extension base="cookXmlCommon:object">
				<attribute name="columncount" type="int" />
				<attribute name="numrows" type="int" />
				<attribute name="rowcount" type="int" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="syncbuttonstate">
		<complexContent>
			<extension base="cookXmlCommon:object" />
		</complexContent>
	</complexType>

	<element name="defaultlistmodel" type="cookSwing:defaultlistmodel"
		substitutionGroup="cookXmlCommon:object" />
	<element name="defaulttablemodel" type="cookSwing:defaulttablemodel"
		substitutionGroup="cookXmlCommon:object" />
	<element name="syncbuttonstate" type="cookSwing:syncbuttonstate"
		substitutionGroup="cookXmlCommon:object" />



	<!-- common types -->
	<complexType name="uimanager">
		<complexContent>
			<extension base="cookXmlCommon:object">
				<attribute name="systemlookandfeel" type="boolean" />
				<attribute name="lookandfeel" type="string" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="color">
		<complexContent>
			<extension base="cookXmlCommon:object">
				<attribute name="locale" type="string" />
				<attribute name="ui" type="string" />
				<attribute name="value" type="string" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="cursor">
		<complexContent>
			<extension base="cookXmlCommon:object">
				<attribute name="type" type="string" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="dimension">
		<complexContent>
			<extension base="cookXmlCommon:object">
				<attribute name="height" type="int" />
				<attribute name="width" type="int" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="font">
		<complexContent>
			<extension base="cookXmlCommon:object">
				<attribute name="locale" type="string" />
				<attribute name="src" type="string" />
				<attribute name="ui" type="string" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="icon">
		<complexContent>
			<extension base="cookXmlCommon:object">
				<attribute name="locale" type="string" />
				<attribute name="src" type="string" />
				<attribute name="ui" type="string" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="image">
		<complexContent>
			<extension base="cookXmlCommon:object">
				<attribute name="src" type="string" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="imageicon">
		<complexContent>
			<extension base="cookXmlCommon:object">
				<attribute name="src" type="string" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="insets">
		<complexContent>
			<extension base="cookXmlCommon:object">
				<attribute name="bottom" type="int" />
				<attribute name="left" type="int" />
				<attribute name="right" type="int" />
				<attribute name="top" type="int" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="keystroke">
		<complexContent>
			<extension base="cookXmlCommon:object">
				<attribute name="keychar" type="string" />
				<attribute name="keycode" type="string" />
				<attribute name="modifiers" type="string" />
				<attribute name="onkeyrelease" type="boolean" />
				<attribute name="string" type="string" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="point">
		<complexContent>
			<extension base="cookXmlCommon:object">
				<attribute name="x" type="int" />
				<attribute name="y" type="int" />
			</extension>
		</complexContent>
	</complexType>

	<complexType name="rectangle">
		<complexContent>
			<extension base="cookXmlCommon:object">
				<attribute name="bounds" type="string" />
				<attribute name="height" type="int" />
				<attribute name="location" type="string" />
				<attribute name="size" type="string" />
				<attribute name="width" type="int" />
				<attribute name="x" type="int" />
				<attribute name="y" type="int" />
			</extension>
		</complexContent>
	</complexType>


	<element name="uimanager" type="cookSwing:uimanager"
		substitutionGroup="cookXmlCommon:object" />

	<element name="color" type="cookSwing:color"
		substitutionGroup="cookXmlCommon:object" />
	<element name="cursor" type="cookSwing:cursor"
		substitutionGroup="cookXmlCommon:object" />
	<element name="dimension" type="cookSwing:dimension"
		substitutionGroup="cookXmlCommon:object" />
	<element name="font" type="cookSwing:font"
		substitutionGroup="cookXmlCommon:object" />
	<element name="icon" type="cookSwing:icon"
		substitutionGroup="cookXmlCommon:object" />
	<element name="image" type="cookSwing:image"
		substitutionGroup="cookXmlCommon:object" />
	<element name="imageicon" type="cookSwing:imageicon"
		substitutionGroup="cookXmlCommon:object" />
	<element name="insets" type="cookSwing:insets"
		substitutionGroup="cookXmlCommon:object" />
	<element name="keystroke" type="cookSwing:keystroke"
		substitutionGroup="cookXmlCommon:object" />
	<element name="point" type="cookSwing:point"
		substitutionGroup="cookXmlCommon:object" />
	<element name="rectangle" type="cookSwing:rectangle"
		substitutionGroup="cookXmlCommon:object" />

</schema>